
ErrorDocument 400 http://agapainting.art/
ErrorDocument 401 http://agapainting.art/
ErrorDocument 403 http://agapainting.art/
ErrorDocument 404 http://agapainting.art/404
ErrorDocument 503 http://agapainting.art/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]



